<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Styles/reset.css">
    <link rel="stylesheet" href="../Styles/home.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/1.1.0/css/material-kit.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="justify-content-center">
            <ul>
                    <li><a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="mostrar()" ><img class="img_user" src="../imagenes/1455555011_users-10_icon-icons.com_53271 (1).png"></a><a id="cerrar" class="abrir-cerrar" href="#" onclick="ocultar()">Cerrar menu</a></li>
                <!-- <li><a href=""><img src="imagenes/1455555011_users-10_icon-icons.com_53271 (1).png" class="img_user" alt=""></a></li> -->
                <li><h2>El brayan</h2></li>
            </ul>
        </nav>
        <div class="btn_perfil">
                <div class="linea"></div>
                <div class="linea"></div>
            </div>
    </header>

    <main >
        <div class="row">
        <section class="col">
            <h2 class="web_ar">Web</h2>

            <img src="../imagenes/web.svg" alt="">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere deleniti totam quaerat et in error tempora, reiciendis rem qui nemo?</p>

            <button class="boton" ><a href=""> + </a></button>

            <button class="boton boton1"><a href="../formulario.html">ver repositorio </a></button>

        </section>

        <section class="line">
            
        </section>

        <!-- <div class="linea"></div> -->
        
        <section class="section_app col">
            <h2>App</h2>

            <img src="../imagenes/smartphone.svg" alt="">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere deleniti totam quaerat et in error tempora, reiciendis rem qui nemo?</p>

            <button class="boton"><a href="https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link"> + </a></button>

            <button class="boton boton1"><a href="/formulario.html">ver repositorio </a></button>

        </section>

        <div id="sidebar" class="sidebar">
                <a href="#" class="boton-cerrar" onclick="ocultar()">×</a>
                <ul class="menu">
                <img src="" alt="">
                
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Mis proyectos</a></li>
                <li><a href="#">Mi empresa</a></li>
               <!--<li><a href="#">Opción 5</a></li>-->
                </ul>
        </div> 
    
      </div>
    </main>
    <script src="app.js"></script>
    
</body>
</html>